body {
    background-color: #578a34;
}

#board {
    display: grid;
}

.box {
    background-color: #aad751;
}

.dark {
    background-color: #a2d149;
}

.snake {
    background-color: #4471e6;
    border: 2px black solid;
}

.head{
    background-image: url('snakeHead.png');
    background-size: cover;
}

.apple {
    background-color: deeppink;
}